.sidebar {
  @include flex-box(column);
  width: $sidebar-width;
  background-color: $white;

  .logo {
    @include flex-box(items-center justify-center);
    @include typo(36px, 700);
    min-height: $header-height;
    margin: 0 20px;
    border-bottom: 1px solid $gray-75;
    cursor: pointer;
  }

  .el-menu {
    overflow-y: auto;
    padding: 36px 20px 20px;
    border-right: none;

    & > li {
      & + li {
        margin-top: 6px;
      }
    }

    &-item,
    .el-sub-menu__title {
      @include typo(15px, $color: $gray-400);
      height: 45px;
      padding: 12px 20px !important;
      border-radius: 30px;
      transition: $transition;

      &:hover {
        background: $purple-50;
        color: $white;
      }
      &.is-active:not(:hover) {
        background: $purple-50;
        color: $white;
      }
    }

    &.el-menu--inline {
      overflow-y: unset;
      padding: 0;

      .el-menu-item,
      .el-sub-menu__title {
        &.is-active {
          color: inherit;
        }
      }
    }

    // .el-sub-menu {
    //   &__title {
    //     .el-icon {
    //       @include icon($name: plus__line--333);
    //       width: 16px;
    //       height: 16px;
    //       top: 44%;
    //       svg {
    //         display: none;
    //       }
    //     }
    //   }
    //   &.is-opened {
    //     .el-sub-menu__title {
    //       .el-icon {
    //         @include icon($name: minus__line--333);
    //       }
    //     }
    //   }
    // }

    // sub-menu
    &-item-group {
      padding: 10px 30px;
      &__title {
        padding: 0;
      }
      .el-menu-item {
        @include typo(14px, $color: $gray-400);
        height: 20px;
        padding: 0 !important;
        & + .el-menu-item {
          margin-top: 10px;
        }

        &.is-active {
          background: none;
        }

        &:hover {
          background: transparent;
          color: inherit;
        }
      }
    }
  }
}
