/* ============= mgmt-Layout ============= */
.layout {
  @include flex-box(flex);
  width: 100%;
  height: 100%;
}
.containers {
  @include flex-box(column);
  height: 100%;
  width: calc(100% - $sidebar-width);
  background: $gray-35;
}
.content {
  overflow-y: auto;
  height: calc(100% - $header-height);
  padding: 30px 60px;
  > div {
    @include flex-box(column);
    height: 100%;
  }
}
