/* ========================== Variables ========================== */

/* ========================== Mixins ========================== */
@mixin btn($type: 'positive', $form: 'full', $color: 'primary') {
  @apply flex items-center justify-center;
  border-radius: $radius-sm;
  border: 1px solid transparent;
  transition: $transition;
  white-space: nowrap;

  @if $type == 'positive' and $form == 'full' {
    background-color: if($color == 'primary', $purple-50, $purple-250);
    border-color: if($color == 'primary', $purple-50, $purple-250);
    color: $white;

    &:hover:not(:disabled) {
      background-color: if($color == 'primary', $purple-120, $purple-300);
      border-color: if($color == 'primary', $purple-120, $purple-300);
      color: $white;
    }
  } @else if $type == 'positive' and $form == 'line' {
    background-color: $white;
    border-color: if($color == 'primary', $purple-50, $purple-250);
    color: if($color == 'primary', $purple-50, $purple-250);

    &:hover:not(:disabled) {
      border-color: if($color == 'primary', $purple-120, $purple-300);
      color: if($color == 'primary', $purple-120, $purple-300);
      svg {
        * {
          transition: $transition;
          stroke: if($color == 'primary', $purple-120, $purple-300);
        }
      }
    }
  } @else if $type == 'negative' and $form == 'full' {
    background-color: $purple-230;
    color: $white;

    &:hover:not(:disabled) {
      background-color: $purple-280;
      border-color: $purple-280;
      color: $white;
    }
  } @else if $type == 'negative' and $form == 'line' {
    background-color: $white;
    border-color: $purple-230;
    color: $purple-230;

    &:hover:not(:disabled) {
      background-color: $white;
      border-color: $purple-280;
      color: $purple-280;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  & + button {
    margin-left: 10px;
  }
}

@mixin btn-size($size: 'md') {
  @if $size == 'sm' {
    min-width: 65px;
    height: $form-height-sm;
    line-height: $form-height-sm;
    padding: 0 15px;
  } @else if $size == 'md' {
    min-width: 65px;
    height: $form-height-md;
    line-height: $form-height-md;
    padding: 0 15px;
  } @else if $size == 'lg' {
    min-width: 70px;
    height: $form-height-lg;
    line-height: $form-height-lg;
    padding: 0 20px;
  }
  // 아이콘 버튼인 경우
  &.icon {
    @if $size == 'sm' {
      padding: 0 10px;
      min-width: 75px;
    } @else if $size == 'md' {
      min-width: 80px;
    } @else if $size == 'lg' {
      padding: 0 10px;
      min-width: 85px;
    }
  }
}
/* ========================== Styles ========================== */
.btn {
  &__primary {
    @include btn($type: 'positive', $form: 'full', $color: 'primary');
  }

  &__secondary {
    @include btn($type: 'positive', $form: 'full', $color: 'secondary');
  }

  &__negative {
    @include btn($type: 'negative', $form: 'full');
  }

  &__primary-line {
    @include btn($type: 'positive', $form: 'line', $color: 'primary');
  }

  &__secondary-line {
    @include btn($type: 'positive', $form: 'line', $color: 'secondary');
  }

  &__negative-line {
    @include btn($type: 'negative', $form: 'line');
  }

  $formList: 'primary', 'primary-line', 'secondary', 'secondary-line', 'negative', 'negative-line';
  $sizeList: 'sm', 'md', 'lg';

  @each $form in $formList {
    @each $size in $sizeList {
      &__#{$form}--#{$size} {
        @extend .btn__#{$form};
        @include btn-size($size: $size);
      }
    }
  }
}
