/* ========================== Variables ========================== */
.el-date-editor {
  --el-input-text-color: #555555 !important;
  --el-input-border: 1px solid #c7c7c7 !important;
  --el-input-hover-border: #c7c7c7 !important;
  --el-input-border-color: #c7c7c7 !important;
  --el-input-focus-border: #333333 !important;
  --el-input-border-radius: 2px !important;
  --el-input-placeholder-color: #999999 !important;
  --el-input-hover-border-color: #c7c7c7 !important;
  --el-input-focus-border-color: #333333 !important;
  --el-disabled-bg-color: #f7f7f7 !important;
  --el-disabled-border-color: #eaeaea !important;
  --el-disabled-text-color: #999999 !important;
}
.el-date-range-picker {
  --el-color-primary: #9e4eff !important;
  --el-datepicker-off-text-color: #999999 !important;
  --el-datepicker-inner-border-color: #d5d5d5 !important;
  --el-datepicker-active-color: #f0e4ff !important;
  --el-datepicker-hover-text-color: #9e4eff !important;
  --el-datepicker-inrange-bg-color: #f0e4ff !important;
  --el-datepicker-inrange-hover-bg-color: #f0e4ff !important;
}
/* ========================== Mixins ========================== */

/* ========================== Styles ========================== */
.el-date-editor {
  &.el-range-editor {
    height: $form-height-md !important;
    padding: 0 15px !important;

    .el-icon {
      svg {
        display: none;
      }
      &.el-range__icon {
        @include before(16px, 16px) {
          @include icon(calendar__line--b3b);
        }
      }
    }
    .el-range {
      &-input:not(:disabled),
      &-separator {
        @include typo($color: $gray-330);
      }
    }
    &:read-only {
      background-color: $textfield-disabled-bg-color;
    }
  }
}
.el-picker__popper {
  @include typo(12px, 600);
  border: 1px solid $gray-60 !important;
  border-radius: $radius-sm !important;
  box-shadow: none !important;
  .el-popper__arrow:before {
    content: none;
  }
  .el-picker-panel {
    @include typo($color: $gray-400);
    border-radius: $radius-sm;
    &__icon-btn {
      @include typo(16px, $color: #444459);
      width: 40px;
      height: 40px;
      margin-top: 0;
      @include before {
        top: 0;
        left: 50%;
        transform: translate(-50%);
      }

      &.d-arrow-left,
      &.d-arrow-right {
        @include before(26px, 40px) {
          @include icon(d-arrow-l__line--444);
        }
      }
      &.arrow-left,
      &.arrow-right {
        @include before(18px, 40px) {
          @include icon(arrow-l__line--444);
        }
      }
      &.d-arrow-right,
      &.arrow-right {
        transform: rotate(180deg);
      }
      .el-icon {
        display: none;
      }
    }
  }
  .el-date-range-picker {
    &__content {
      padding: 0;
    }
    &__header {
      height: 40px;
      > div {
        @include typo(15px, 600);
        @include flex-box(items-center justify-center);
        height: 100%;
        margin-left: 80px;
        margin-right: 80px;
      }
    }
  }
  .el-date-table {
    th {
      @include typo(10px, 500, $gray-330);
      padding: 0;
      border-bottom: 0;
    }
    &__row {
      td {
        max-width: 42px;
        height: 42px;
        padding: 6px 0;
        &.in-range,
        &.start-date {
          .el-date-table-cell {
            @include typo(12px, 600, $purple-50);
          }
        }
      }
    }
    &-cell {
      padding: 0 !important;
      &__text {
        height: 30px !important;
        line-height: 30px !important;
      }
    }
  }
}
