/* ========================== Variables ========================== */

/* ========================== Mixins ========================== */

/* ========================== Styles ========================== */
.editor {
  @include flex-box(column);
  width: 100%;
  height: 100%;
  background-color: $white;

  .ql-toolbar {
    border-color: $input-border-color !important;
    border-radius: 2px 2px;
  }
  .ql-container {
    @include typo($color: $gray-400, $font-family: $font-family);
    overflow-y: auto;
    min-height: 100px;
    height: 100%;
    border-color: $input-border-color !important;
    border-radius: 0 0 2px 2px;
    word-break: break-all;
  }
}
