/* ========================== Variables ========================== */

/* ========================== Mixins ========================== */

/* ========================== Styles ========================== */
.form {
  @include flex-box(column);

  &--col {
    @include flex-box(column);

    .form__label-wrap {
      margin-bottom: 5px;
      margin-right: 0;
    }
  }
  &__item {
    @include flex-box(flex);
    width: 100%;

    & + & {
      margin-top: 20px;
    }

    .el-checkbox-group {
      margin-top: 10px;
      .el-checkbox {
        & + .el-checkbox {
          margin-top: 10px;
        }
      }
    }
  }

  &__label {
    @include typo(15px, 500, $gray-400, $form-height-md);
    display: inline-block;
    min-width: 140px;
    align-self: normal;

    &.is-required {
      @include after {
        @include typo(15px, 500, $error, $form-height-md);
        content: '*';
        padding-left: 2px;
        padding-right: 2px;
      }
    }
    &-wrap {
      @include flex-box(items-center justify-between);
      margin-right: 20px;
    }
  }

  &__group {
    @include flex-box(flex);
    @include space-x(10px);
    flex: 1 1 0%;
    .el-select {
      max-width: 167px;
    }
    &--col {
      @include space-y(10px);
      flex: 1 1 0%;
    }
  }

  &__upload {
    @include flex-box(column);
    flex: 1 1 0%;
    &-area {
      @include flex-box(column items-center justify-center);
      @include box(25px 0, $gray-90, 2px);
      @include typo($color: $gray-300);
      width: 100%;
      & + .form__upload--file {
        margin-top: 10px;
      }
    }
    &--file {
      @include flex-box(flex);
      a {
        &:hover {
          text-decoration: underline;
          text-underline-offset: 2px;
        }
      }
    }
  }

  &__table {
    height: 100%;
    background-color: $white;
    border: 1px solid $gray-240;

    .form {
      &__item {
        @include flex-box(items-center);
        padding-right: 15px;
        &:has(.editor) {
          flex: 1 1 0%;
        }
        & + .form__item {
          margin-top: 0;
          border-top: 1px solid $gray-240;
        }
        // row에 form__item 두개 들어간 경우
        .form__item {
          border-top: 0;
          &:last-child {
            padding-right: 0;
          }
        }
      }
      &__label-wrap {
        padding: 10px 0 10px 30px;
        height: 100%;
        background-color: $gray-45;
        & + div {
          padding: 10px 0;
        }
      }
    }
  }
}
.search-form {
  @include flex-box(justify-between items-start);
  @include box(20px 40px);
  width: 100%;

  &__form-area {
    @include flex-box(row);
    width: 100%;
  }

  &__items {
    @include flex-box(wrap items-center 1);
    @include gap-margin(30px, 20px);
    width: 100%;
    padding-right: 10px;
  }

  &__item {
    @include flex-box(items-center);
    @include space-x(10px);
    &:has(.custom-input) {
      flex: 1 1 0%;
    }
  }

  &__label {
    @include typo($font-weight: 500, $line-height: $form-height-md);
    min-width: fit-content;
    margin-right: 10px;
    white-space: nowrap;
  }

  &__btn-area {
    @include flex-box(items-center);

    button + button {
      margin-left: 10px;
    }
  }
  .el-select {
    width: 167px;
  }
  .custom-input {
    min-width: 300px;
  }

  & + .table {
    margin-top: 30px;
  }
}
