.form {
  @apply flex;
  width: 100%;

  & + & {
    margin-top: 20px;
  }

  &__label {
    @include typo($font-size: 15, $font-weight: 500, $line-height: 36px);
    position: relative;
    min-width: 140px;
    margin-right: 20px;
    color: $gray-400;
    align-self: normal;

    &--required {
      @extend .form__label;

      &::after {
        content: '*';
        position: absolute;
        padding-left: 2px;
        padding-right: 2px;
        color: $error;
      }
    }

    &:has(.tooltip) {
      .tooltip {
        position: absolute;
        top: 8px;
        margin-left: 5px;
      }
    }

    & + div {
      &:has(.el-table) {
        width: calc(100% - 140px);
      }
    }
  }

  &__box {
    @apply flex-1;
    padding: 30px;
    background: $gray-30;
    border-radius: 6px;

    &-btns {
      @apply flex items-center;
      width: 74px;
      margin-left: 20px;
      button {
        & + button {
          margin-left: 10px;
        }
      }
    }
  }

  &__upload {
    @apply flex flex-col items-center justify-center;
    width: 100%;
    padding: 25px 0;
    background: $white;
    border: 1px solid $gray-90;
    border-radius: 2px;
    color: $gray-300;
    &--file {
      margin-top: 15px;
    }
    &--info {
      margin-top: 15px;
      color: $orange-30;
    }
    .drop-area__upload {
      margin-bottom: 5px;
    }
  }
  // TODO :: 추후 삭제 필요
  &__search {
    @apply flex justify-between;
    padding: 20px 30px;
    margin-top: 30px;
    background: $white;
    border-radius: 10px;

    .form__label {
      @include typo($font-weight: 500, $line-height: $input-size);
      min-width: fit-content;
    }

    .form {
      & + .form {
        margin-top: 0;
        margin-left: 40px;
      }
    }
  }
  //
}

.search-form {
  @include flex-box(justify-between, items-center);
  @include box(20px 40px);
  width: 100%;

  &__form-area {
    @include flex-box(row);
    width: 100%;
  }

  &__items {
    @include flex-box(wrap items-center 1);
    @include gap-margin(30px, 20px);
    width: 100%;
    padding-right: 10px;
  }

  &__item {
    @include flex-box(items-center);
    &:has(.custom-input) {
      flex: 1 1 0%;
    }
  }

  &__label {
    @include typo($font-weight: 500, $line-height: $input-size);
    min-width: fit-content;
    margin-right: 19px;
    white-space: nowrap;
  }

  &__btn-area {
    @include flex-box(items-center);

    button + button {
      margin-left: 10px;
    }
  }
  .el-select {
    min-width: 167px;
  }

  & + .table {
    margin-top: 30px;
  }
}

// .popup-form {
//   @apply flex;

//   .form__label {
//     @include typo($font-weight: 500);
//     width: 100px;
//     min-width: 100px;
//     margin-right: 10px;
//     color: $gray-400;

//     & + div {
//       @include typo($line-height: 36px);
//     }
//   }

//   & + & {
//     margin-top: 10px;
//   }
// }
