/* ========================== Variables ========================== */

/* ========================== Mixins ========================== */

/* ========================== Styles ========================== */
.pagination {
  @apply flex justify-center;
  margin-top: 20px;
  .pagination-container {
    @apply flex;
    column-gap: 2px;
    > li {
      height: 32px;
    }
    .paginate-buttons {
      width: 32px;
      height: 32px;
      border: 0;
      border-radius: $radius-sm;
      color: $gray-330;
      transition: $transition;
      &:hover {
        background: $white;
      }
      &.active-page {
        @include typo($font-weight: 600);
        background: $purple-50;
        color: $white;
      }
      &.back-button {
        @include icon($name: 'arrow-l__line--555');
        color: transparent;
      }
      &.next-button {
        @include icon($name: 'arrow-l__line--555');
        transform: rotate(180deg);
        color: transparent;
      }
    }
  }
}
