/* ========================== Variables ========================== */

/* ========================== Mixins ========================== */

/* ========================== Styles ========================== */
.pagination {
  @include flex-box(justify-center);
  margin-top: 20px;
  .pagination-container {
    @include flex-box(flex);
    column-gap: 2px;
    > li {
      height: 32px;
    }
    .paginate-buttons {
      @include typo($color: $gray-330);
      width: 32px;
      height: 32px;
      border: 0;
      border-radius: $radius-sm;
      transition: $transition;
      &:hover {
        background: transparent;
      }
      &.active-page {
        @include typo($font-weight: 600, $color: $white);
        background: $purple-50;
      }
      &.back-button {
        @include typo($color: transparent);
        @include icon($name: 'arrow-l__line--555');
      }
      &.next-button {
        @include typo($color: transparent);
        @include icon($name: 'arrow-l__line--555');
        transform: rotate(180deg);
      }
    }
  }
}
