/* ========================== Variables ========================== */
.el-checkbox {
  --el-checkbox-checked-bg-color: #9e4eff !important;
  --el-checkbox-checked-input-border-color: #9e4eff !important;
  --el-checkbox-input-border: 1px solid #dddddd !important;
  --el-checkbox-input-height: 20px !important;
  --el-checkbox-input-width: 20px !important;
  --el-checkbox-disabled-border-color: #eaeaea !important;
  --el-checkbox-disabled-input-fill: #f7f7f7 !important;
  --el-checkbox-disabled-checked-input-fill: #f7f7f7 !important;
  --el-checkbox-disabled-checked-input-border-color: #eaeaea !important;
  --el-checkbox-checked-text-color: var(--el-color-primary);
  --el-checkbox-input-border-color-hover: #dddddd !important;
}

.el-radio {
  --el-radio-text-color: #333333 !important;
  --el-radio-input-height: 20px !important;
  --el-radio-input-width: 20px !important;
  --el-radio-input-border-radius: var(--el-border-radius-circle);
  --el-radio-input-bg-color: var(--el-fill-color-blank);
  --el-radio-input-border: 1px solid #dddddd !important;
  --el-radio-input-border-color: #dddddd !important;
  --el-radio-input-border-color-hover: #dddddd !important;
}
/* ========================== Mixins ========================== */

/* ========================== Styles ========================== */
// Checkbox
.el-checkbox {
  width: 20px;
  height: unset !important;

  &-group {
    width: 20px;
  }

  .el-checkbox__input {
    &.is-checked {
      .el-checkbox__inner {
        &::after {
          left: 6px;
          height: 10px;
          width: 4px;
          border-width: 2px;
        }
      }
    }

    &.is-disabled {
      .el-checkbox__inner {
        &::after {
          border-color: $gray-80 !important;
        }
      }
    }

    &.is-indeterminate {
      .el-checkbox__inner {
        &::before {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 10px;
        }
      }
    }
  }

  .el-checkbox__label {
    @include typo($font-weight: 500);
    padding-left: 10px;
    color: $gray-400 !important;
  }
}

// Radio
.el-radio {
  margin-right: 20px !important;

  .el-radio__input {
    &.is-checked {
      .el-radio__inner {
        background: $white;
        border-color: $purple-50;

        &:after {
          width: 9px;
          height: 9px;
          background-color: $purple-50;
        }
      }
    }
  }

  &.is-checked {
    &.el-radio {
      .el-radio__label {
        @include typo($font-weight: 500, $color: $gray-400);
      }
    }
  }

  &.is-disabled {
    .el-radio__input {
      .el-radio__inner {
        background-color: $gray-30 !important;
        border-color: $gray-45 !important;

        &:after {
          background-color: $gray-45 !important;
        }
      }

      & + .el-radio__label {
        @include typo($font-weight: 500, $color: $gray-400);
      }
    }
  }
}
