/* ========================== Variables ========================== */
$selectbox-size: (
  sm: $form-size-sm,
  default: $form-size-md,
  lg: $form-size-lg
);

/* ========================== Mixins ========================== */
@mixin selectbox-size($size: default) {
  @each $key, $value in $selectbox-size {
    &--#{$key} {
      height: $value;
    }
  }
}

/* ========================== Styles ========================== */

.el-select {
  @include selectbox-size();
  height: $form-size-md;

  .el-select {
    &__wrapper {
      height: 100%;
      padding: 6px 10px 6px 15px;
      border: 1px solid $input-border-color;
      border-radius: $radius-sm;
      box-shadow: none !important;

      &.is-focused {
        border: 1px solid $input-focus-border-color;
      }

      &.is-disabled {
        border: 1px solid $input-disabled-border-color;
        background: $input-disabled-bg-color;

        .el-select__selected-item {
          @include typo($color: $input-placeholder-color);
        }

        .el-select__suffix {
          @include icon($name: arrow-b__line--999);
        }
      }

      .el-select__suffix {
        width: 16px;
        @include icon($name: arrow-b__line--333);

        .el-icon {
          svg {
            display: none;
          }

          &.is-reverse {
            transform: none;
          }
        }
      }
    }

    &__placeholder {
      @include typo($color: $input-color);
      &.is-transparent {
        @include typo($color: $input-placeholder-color);
      }
    }
  }

  &[readonly] {
    pointer-events: none;

    .el-select__wrapper {
      background: $input-readonly-bg-color;

      .el-select__suffix {
        @include icon($name: arrow-b__line--999);
      }
    }
  }
}

.el-select__popper {
  &.el-popper {
    &.is-pure {
      margin-top: -9px;
      border: 1px solid $gray-80;
      box-shadow: 3px 4px 6px 0px rgba(0, 0, 0, 0.1);

      .el-select-dropdown {
        border-radius: $radius-sm;

        &__list {
          padding: 0;
        }

        &__item {
          @include typo($line-height: 40px, $color: $gray-330);
          height: 40px;
          padding: 0 13px;
          transition: $transition;

          &.is-hovering {
            background: $purple-5;
          }

          &.is-disabled {
            @include typo($color: $input-disabled-color);
          }

          &.is-selected {
            &::after {
              content: none;
            }
          }
        }
      }
      .el-popper__arrow {
        display: none;
      }
    }
  }
}
