/* ========================== Variables ========================== */

/* ========================== Mixins ========================== */

/* ========================== Styles ========================== */
// Table
.total {
  em {
    color: $purple-50;
  }
  & + .el-table {
    margin-top: 10px;
  }
  &__bar {
    @apply flex items-end justify-between;
    margin-bottom: 10px;
  }
}

.el-table {
  .el-table {
    &__inner-wrapper {
      &::before {
        background-color: $gray-80;
      }
    }
    &__header {
      thead {
        @include typo(15px, 600, $gray-400);
        height: 43px;
      }
      .el-table__cell.is-leaf {
        padding: 0;
        border-bottom: 1px solid $gray-400;
        text-align: center;
        vertical-align: unset;
      }
    }

    &__body {
      .el-table__cell {
        @include typo(14px, $color: gray-400);
        height: 56px;
        padding: 10px 0;
        border-bottom: 1px solid $gray-80;
        &:has(.el-checkbox) {
          @apply flex items-center justify-center;
        }
      }

      .el-table__row {
        &:hover {
          td.el-table__cell {
            background: $purple-5;
          }
        }
        .cell {
          padding: 0 8px;
        }
      }
    }
  }
  &.no-hover {
    .el-table__body {
      .el-table__row {
        &:hover {
          td.el-table__cell {
            background: none;
          }
        }
      }
    }
  }
  &--small {
    .el-table__body {
      .el-table__cell {
        @include typo(14px);
        height: 50px;
        padding: 6px 0;
      }
    }
  }
}

// Pagination
.pagination {
  @apply flex justify-center;
  margin-top: 20px;
  .pagination-container {
    @apply flex;
    column-gap: 2px;
    > li {
      height: 32px;
    }
    .paginate-buttons {
      width: 32px;
      height: 32px;
      border: 0;
      border-radius: $radius-sm;
      color: $gray-330;
      transition: $transition;
      &:hover {
        background: $white;
      }
      &.active-page {
        @include typo($font-weight: 600);
        background: $purple-50;
        color: $white;
      }
      &.back-button {
        @include icon($name: 'arrow-l__line--555');
        color: transparent;
      }
      &.next-button {
        @include icon($name: 'arrow-l__line--555');
        transform: rotate(180deg);
        color: transparent;
      }
    }
  }
}
