/* ========================== Variables ========================== */

/* ========================== Mixins ========================== */

/* ========================== Styles ========================== */
// Table
.table {
  &-header {
    @include flex-box(items-end justify-between);
    margin-bottom: 10px;

    &__total {
      em {
        @include typo($color: $purple-50);
      }
    }

    &__btn {
      @include flex-box(flex);
      margin-top: -10px;
    }
  }
}

.el-table {
  .el-table {
    &__inner-wrapper {
      &::before {
        background-color: $gray-80;
      }
    }
    &__header {
      thead {
        @include typo(15px, 600, $gray-400);
        height: 43px;
      }
      .el-table__cell.is-leaf {
        padding: 0;
        border-bottom: 1px solid $gray-400;
        text-align: center;
        vertical-align: unset;
      }
    }

    &__body {
      .el-table__cell {
        @include typo(14px, $color: $gray-400);
        height: 56px;
        padding: 10px 0;
        border-bottom: 1px solid $gray-80;
        .cell {
          @include truncate;
        }
      }

      .el-table__row {
        cursor: pointer;
        &:hover {
          td.el-table__cell {
            background: $purple-5;
          }
        }
        .cell {
          padding: 0 8px;
        }
      }
    }
  }
  &.no-hover {
    .el-table__body {
      .el-table__row {
        &:hover {
          td.el-table__cell {
            background: none;
          }
        }
      }
    }
  }
  &--small {
    .el-table__body {
      .el-table__cell {
        @include typo(14px);
        height: 50px;
        padding: 6px 0;
      }
    }
  }
}
