.common-code {
  @include flex-box(column);
  height: 100%;
  &__wrap {
    @include flex-box(flex);
    height: 100%;
  }
  &__content {
    @include flex-box(column);
    width: calc(50% - 15px);
    & + .common-code__content {
      margin-left: 30px;
    }
  }
  .search-form {
    &__item {
      flex: 1;
      &:nth-child(3) {
        margin-right: 0;
      }
    }
    .el-select {
      min-width: 140px;
      width: 100%;
    }
    .title--sm {
      width: 100%;
    }
  }
}
