#nprogress .spinner {
  display: none;
}
#nprogress .bar {
  height: 5px;
  background-color: $purple-50;
}

/* ========================== Drag and drop(파일첨부) ========================== */
.el-upload {
  .el-upload-dragger {
    @apply flex flex-col items-center justify-center;
    height: 130px;
    border: 1px solid $gray-90 !important;
    border-radius: 2px;
    .el-upload__text {
      @apply flex flex-col items-center justify-center;
      @include font($font-size: 13, $line-height: 18px);
      color: $gray-300;
    }
  }
}

/* ========================== page ========================== */
.title {
  @include font($font-size: 36, $font-weight: 600, $line-height: normal);
  margin-bottom: 60px;
  color: $gray-430;

  &__underline {
    @apply inline-block;
    @include font($font-size: 20, $font-weight: 600);
    position: relative;
    padding-left: 8px;

    &::before {
      z-index: 1;
      content: attr(title-text);
      position: absolute;
      left: 8px;
      bottom: 0;
      color: $gray-430;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: calc(100% + 20px);
      height: 10px;
      background-color: $purple-5;
    }
  }

  &--desc {
    @include font($font-size: 15);
    margin-top: 5px;
    color: $gray-300;
  }
}

/* ========================== info-box ========================== */
.info {
  @include font($font-size: 15);
  margin: 20px 0 50px;

  &-box {
    @apply flex flex-col;
    @include font($font-size: 15);
    padding: 20px 30px;
    margin-top: 25px;
    background: $gray-5;
    border: 1px solid $gray-80;
    border-radius: 10px;

    img {
      margin-right: 5px;
    }
  }
}

/* ========================== mgmt========================== */
.mgmt {
  &__title {
    @include font($font-size: 36, $font-weight: 700);
    color: $gray-430;
  }
  &__box {
    width: 100%;
    padding: 40px;
    margin-top: 31px;
    background: $white;
    border-radius: 20px;

    &:has(.total) {
      &:has(button) {
        padding-top: 30px;
      }
    }
  }
  &__btn {
    @apply flex items-center justify-center;
    margin-top: 30px;
  }
}
