#nprogress .spinner {
  display: none;
}
#nprogress .bar {
  height: 5px;
  background-color: $purple-50;
}

/* ========================== page ========================== */
.title {
  @include typo(36px, 700, $gray-430);
  margin-bottom: 30px;

  &--sm {
    @include typo(22px, 600, $gray-430);
  }
}

.content {
  &__box {
    @include box(40px, $radius: $radius-lg);
    width: 100%;
    margin-top: 30px;
  }

  &__btns {
    @include flex-box(itemx-center justify-center);
    margin-top: 30px;
  }
}
