// /* ============= Style Reset ============= */
*,
:after,
:before {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
em,
img,
ul,
li,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
menu,
nav,
section {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
footer,
header,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  border: 0;
  user-select: none;
}

button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  font: inherit;
  font-family: inherit;
  color: inherit;

  &:focus {
    outline: none;
  }
}

em {
  font-style: normal;
}

button {
  overflow: visible;

  &:disabled {
    cursor: not-allowed;
  }

  &:has(img) {
    min-width: fit-content;
  }
}

button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  text-transform: none;
}

textarea {
  overflow: auto;
}

input {
  line-height: normal;
  border: 0;

  &[type='checkbox'],
  &[type='radio'] {
    box-sizing: border-box;
    padding: 0;
  }

  &[type='number'] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }

  &:invalid {
    border-color: $error;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* ============= Layout ============= */
html,
body,
#app {
  height: 100%;
}

#app {
  min-width: 1280px;
}

body {
  @include font($font-size: 14, $line-height: 1.2);
  overflow-x: auto;
  font-family: $font-family;
  background-color: $gray-35;
  color: $gray-400;
}

/* ============= ScrollBar ============= */
* {
  &::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  &::-webkit-scrollbar-thumb {
    border: 7px solid transparent;
    background-clip: padding-box;
    background-color: $gray-130;
    border-radius: 12px;
  }
}
